.effective-solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #2f303a;
  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img.jpg');
  background-size: cover;

  margin: 0px auto;
}

.effective-solutoins__title {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
}
